<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerHigh"
        tools:targetApi="31">
        <activity
            android:name=".CommissionedProjectDetail"
            android:exported="false" />
        <activity
            android:name=".UploadedProject"
            android:exported="false" />
        <activity
            android:name=".FinishedProject"
            android:exported="false" />
        <activity
            android:name=".AppliedProject"
            android:exported="false" />
        <activity
            android:name=".DiscussingProject"
            android:exported="false" />
        <activity
            android:name=".CommissionedProject"
            android:exported="false" />
        <activity
            android:name=".OngoingProject"
            android:exported="false" />
        <activity
            android:name=".ClientMyProject"
            android:exported="false" />
        <activity
            android:name=".FreelancerMyProject"
            android:exported="false" />
        <activity
            android:name=".Apply"
            android:exported="false" />
        <activity
            android:name=".FreelancerDetail"
            android:exported="false" />
        <activity
            android:name=".ProjectUploadComplete"
            android:exported="false" />
        <activity
            android:name=".ProjectUpload"
            android:exported="false" />
        <activity
            android:name=".KeywordSearch"
            android:exported="false" />
        <activity
            android:name=".ProjectDetail"
            android:exported="false" />
        <activity
            android:name=".SearchResult"
            android:exported="false" />
        <activity
            android:name=".FilterSearch"
            android:exported="false" />
        <activity
            android:name=".ClientMain"
            android:exported="false" />
        <activity
            android:name=".FreelancerMain"
            android:exported="false" />
        <activity
            android:name=".ProfileCreateComplete"
            android:exported="false" />
        <activity
            android:name=".SignupWithEmail"
            android:exported="false" />
        <activity
            android:name=".ClientProfileCreate"
            android:exported="false" />
        <activity
            android:name=".FreelancerProfileCreate"
            android:exported="false" />
        <activity
            android:name=".FreelancerSignup"
            android:exported="false" />
        <activity
            android:name=".FreelancerLogin"
            android:exported="false" />
        <activity
            android:name=".ClientLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>